@page "/EditPost/{id:int}"
@attribute [Authorize]
@using Domain.DTOs
@using Domain.Models
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IPostService postService;
@inject IUserService userService;
@inject NavigationManager navMgr;

<div class="card">
    @if (dto == null)
    {
        <label>Loading Todo data dto null..</label>
        <label>@user.FindFirst("Id").Value</label>
    }
    else
    {
        <h3>Update Post</h3>
        <div class="form-group field">
            <label>Title:</label>
            <input type="text" @bind="dto.Title"/>
        </div>
        <div class="form-group field">
            <label>Body:</label>
            <input type="text" @bind="dto.Body"/>
        </div>

        <div class="button-row">
            <button @onclick="UpdateAsync" class="acceptbtn">Update</button>
        </div>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    AuthenticationState authState;
    ClaimsPrincipal user;

    private PostUpdateDto dto = null!;
    private string msg = "";
    private IEnumerable<User>? users;
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        authState = await AuthState;
        user = authState.User;
        
        try
        {
         //   users = await userService.GetUsers();
            PostBasicDto todoData = await postService.GetByIdAsync(Id);
        //    User currentlyAssigned = users.First(user => user.UserName.Equals(todoData.OwnerName));

            dto = new(Id)
            {
                Title = todoData.Title,
                Body = todoData.Body,
                OwnerId = int.Parse(user.FindFirst("Id").Value)
            };
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task UpdateAsync()
    {
        try
        {
            await postService.UpdateAsync(dto);
            navMgr.NavigateTo("/MyPosts");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}